@font-face {
    font-family: "Impact";
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/impact.woff2") format("woff2");
}
a {
    text-decoration: none;
    color: inherit;
}
html {
    box-sizing: border-box; 
}
*,
*::before,
*::after {
    box-sizing: inherit;  
}
body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;  
    font-weight: 400;
    line-height: 1.2;
}
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 10px;
}
.flex {
    display: flex;
}
.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}
.btn-reset {
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
}
.header {
    width: 100%;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 32px 32px;
    margin-bottom: 50px;
}
.header__container {
    position: relative;
    height: 102px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__inner {
    display: flex;
    align-items: center;
}
.nav__list {
    display: flex;
    align-items: center;
}
.nav__item:not(:last-child) {
    margin-right: 30px;
}
.nav__link {
    font-weight: 600;
    font-size: 19px;
}
.menu-close {
    display: none;
}
.burger {
    display: none;
}
.hero {
    padding-bottom: 226px;
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 100px;
}
.hero__inner {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
}
.hero__title {
    font-family: "Impact";
    max-width: 895px;
    margin: 0;
    font-weight: 400;
    font-size: 70px;
    letter-spacing: 0.02em;
    margin-bottom: 10px;
}
.hero__subtitle {
    font-family: "Impact";
    margin: 0;
    font-weight: 400;
    font-size: 48px;
    border-bottom: 1px solid #040404;
    margin-bottom: 10px;
    align-self: center;
}
span {
    display: block;
    font-size: 34px;
    color: #9F6B08;
}
.hero__text {
    margin: 0;
    color: #363636;
}
.hero__arrow {
    margin-top: auto;
    margin-bottom: 30px;
    align-self: center;
}
.info {
    margin-bottom: 100px;
}
.info__part1 {
    display: block;
}
.info__part {
    display: flex;
    padding-top: 100px;
    justify-content: space-between;
}
.info__part--table {
    padding-top: 66px;
}
.info__title {
    margin: 0;
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 32px;
    line-height: 38px;
    color: #040404;
    text-transform: uppercase;
}
.info__textblock {
    display: flex;
    justify-content: space-between;
    gap: 0 20px;
}
.info__text {
    margin: 0;
    margin-bottom: 30px;
    flex-basis: 440px;
}
.info__part-img {
    object-fit: cover;
}
.info__content {
    flex-basis: 415px;
}
.info__table {
    flex-basis: 450px;
    border-bottom: 1px solid #040404;
    position: relative;
    top: 20px;
}
.info__table::before {
    content: "";
    border-top: 1px solid #040404;
    position: absolute;
    width: 100%;
    top: -20px;
}
.info__table td {
    padding-bottom: 20px;
}
.track {
    padding-bottom: 90px;
    background-image: url(../img/track-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.track__title {
    padding-top: 50px;
    padding-bottom: 30px;
    font-weight: 300;
    font-size: 32px;
}
.track__text {
    max-width: 435px;
}
.track-img {
    display: block;
    margin: 0 auto;
    margin-top: 250px;
}
.evo {
    font-size: 14px;
    margin-bottom: 100px;
}
.evo-black {
    background-color: #363636;
    padding: 100px 0 50px;
    color: #fff;
}
.evo-black__inner {
    position: relative;
}
.evo-black__inner::before {
    content: '';
    background-image: url(../img/Polygon\ 4.svg);
    width: 185px;
    height: 213px;
    top: 210px;
    left: -130px;
    position: absolute;
}
.evo-black__inner::after {
    content: '';
    background-image: url(../img/Polygon\ 2.svg);
    width: 498px;
    height: 572px;
    top: 290px;
    left: -40px;
    position: absolute;
}
.evo-black__text {
    display: flex;
    justify-content: space-between;
}
.evo-black__title {
    margin: 0;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 32px;
    padding-right: 50px;
}
.evo-black__box {
    flex-basis: 437px;
}
.evo-black__desc {
    margin: 0;
    font-size: 14px;
    margin-bottom: 30px;
}
.evo-black__img {
    position: relative;
    z-index: 1;
    margin: 170px auto 60px;
}
.evo-desc__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 65px;
}
.evo-desc__list div {
    font-size: 10px;
    text-transform: uppercase;
}
.evo-white__inner {
    position: relative;
    padding-top: 125px;
}
.evo-white__inner::before {
    content: '';
    background-image: url(../img/Group\ 3.png);
    background-repeat: no-repeat;
    width: 274px;
    height: 257px;
    top: -40px;
    left: 360px;
    position: absolute;
}
.evo-white__inner::after {
    content: '';
    background-image: url(../img/Group\ 14.png);
    background-repeat: no-repeat;
    width: 324px;
    height: 311px;
    top: 115px;
    left: 600px;
    position: absolute;
}
.evo-white__text {
    margin-bottom: 30px;
}
.evo-white__text:first-child {
    max-width: 285px;
}
.evo-white__text:nth-child(2) {
    max-width: 437px;
}
.evo-white__text:nth-child(3) {
    max-width: 590px;
}
.evo-white__video {
    margin-top: 100px;
    background-image: url(../img/Polygon\ 6.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 258px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.evo-white__video-link span {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
}
.blog {
    margin-bottom: 100px;
}
.blog__title {
    margin: 0;
    font-weight: 300;
    font-size: 32px;
    text-transform: uppercase;  
    margin-bottom: 30px;
}
.blog__slider {
    position: relative;
    padding-top: 50px;
    margin-bottom: 100px;
}
.blog__item-img {
    margin-bottom: 20px;
}
.blog__item-title {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
    min-height: 46px;
}
.blog__item-desc {
    margin-bottom: 10px;
}
.blog__item-link {
    font-size: 12px;
    color: #363636;
}
.swiper-button-left {
    transform: translateX(-40px);
}
.swiper-button-right {
    transform: translateX(8px);
}
.blog__btn {
    position: absolute;
    top: 0;
    cursor: pointer;
    left: 50%;
}
.blog__quote {
    display: flex;
    justify-content: space-between;
    gap: 0 20px;
}
.blog__quote-box {
    flex-basis: 434px;
}
.blockquote {
    margin-bottom: 30px;
}
.blockquote__name {
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 10px;
}
.blockquote__name h6 {
    display: block;
    font-size: 12px;
    color: #9F6B08;
    margin-bottom: 3px;
}
.blockquote__text {
    margin: 0;
    font-style: italic;
}
.footer {
    padding: 100px 0 80px;
    background-color: #363636;
    color: #fff;
}
.footer__title {
    margin: 0;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 32px;
    margin-bottom: 50px;
}
.footer__top {
    display: flex;
    justify-content: space-between;
    gap: 0 20px;
}
.footer__info-item {
    margin-bottom: 50px;
}
.footer__info-item div {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.footer__info-item p {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 10px;
}
.social__list {
    display: flex;
    gap: 0 20px;
    align-items: center;
    margin-bottom: 50px;
}
.footer__address {
    flex-basis: 462px;
}
.footer-address__text {
    font-style: normal;
    font-size: 16px;
    margin-bottom: 20px;
}
.footer__bottom {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 1470px) {
    .burger {
        display: block;
        width: 30px;
        position: relative;
        height: 23px;
        background-color: transparent;
    }
    .burger__line {
        position: absolute;
        display: inline-block;
        width: 100%;
        height: 3px;
        background-color: #000;
    }
    .burger__line:first-child {
        top: 0;
        left: 0;
    }
    .burger__line:nth-child(2) {
        top: 45%;
        left: 0;
    }
    .burger__line:last-child {
        bottom: 0;
        left: 0;
    }
    .nav {
        width: 420px;
        height: 769px;
        position: absolute;
        left: -100vw;
        padding: 50px;
        top: 0;
        z-index: 101;
        background-color: #fff;
        box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
        transition: left .3s ease-in-out;
    }
    .nav__list {
        flex-direction: column;
        align-items: flex-start;
    }
    .nav__item {
        margin-right: 0;
    }
    .nav__item:not(:last-child) {
        margin-bottom: 60px;
    }
    .menu-close {
        position: relative;
        display: block;
        width: 23px;
        height: 23px;
        margin-bottom: 100px;
        background-color: transparent;
    }
    .menu-close::before,
    .menu-close::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #000;
    }
    .menu-close::before {
        transform: rotate(45deg);
    }
    .menu-close::after {
        transform: rotate(-45deg);
    }
    .nav.burger-active {
        left: 0;
        transition: left .3s ease-in-out;
    }
    .hero img {
        display: none;
    }
    .hero__title {
        font-size: 45px;
    }
    .hero__subtitle {
        font-size: 42px;
    }
    .info img {
        display: none;
    }
    .evo-white__inner {
        display: none;
    }
}